.selected.svelte-a7p5dv{background-color:rgba(0, 0, 0, 0.3)}.account.svelte-a7p5dv:hover{background-color:rgba(0, 0, 0, 0.5)}
.selected.svelte-ec5z3z{background-color:rgba(0, 0, 0, 0.3)}.character.svelte-ec5z3z:hover{background-color:rgba(0, 0, 0, 0.5)}
.flexchild.svelte-179otrd{flex:5 1 1;padding-left:25px}.flexcontainer.svelte-179otrd{display:flex;flex-direction:row;padding:0 10px}
.flexchild.svelte-pplfeu{flex:3 1 1}.flexcontainer.svelte-pplfeu{display:flex;flex-direction:row;padding:0 10px}
